@{
    ViewBag.Title = "Info";
}


<div class="page-content">
    <div class="jumbotron content">

        <div style="font-size:20px">
            <div style="padding:20px;">
                <h3>
                    Application Error:
                </h3>
                <h4>
                    Sorry, an error occurred while processing your request.
                </h4>
                <h6>@Html.ActionLink("Go Back To Login Page", "Login", "Home")</h6>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>