@{
    ViewBag.Title = "NotFound";
}


<div class="page-content">
    <div class="jumbotron content">

        <div style="font-size:20px">
            <div style="padding:20px;">
                <h3>
                    Application Error:
                </h3>
                <h4>
                    Sorry, The Page, You are Looking for is not found.
                </h4>
                <h6>@Html.ActionLink("Go Back To Home Page", "index", "Home")</h6>
                <br />
                <br />
            </div>
        </div>
     
    </div>
</div>